<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.form.min.js"></script>
    <link rel="stylesheet" href="css/optionsStyle.css">

</head>

<body style="background-color: <%= userTheme.mainColor %>">
    <div class="container-fluid" id="mainContainer">
        <div class="row">
            <div class="col-sm-2" id="leftMenu" style="border-right: 1px solid <%= userTheme.accentColor %>; background-color: <%= userTheme.secondaryColor %>; color: <%= userTheme.fontColor %>">
                <div id="backButton">
                    <button onclick="location.href='/';" class="btn btn-default btn-lg">Back</button>
                </div>
                <!-- Button trigger modal -->
                <div id="optionsText" style="color: <%= userTheme.mainColor %>">
                    <h2>Options</h2>
                </div>
                <div onclick="showBackgroundOptions()" class="clickable">
                    Background
                </div>
                <div onclick="showSettingsOptions()" class="clickable">
                    Settings
                </div>
                <div onclick="showWidgetOptions()" class="clickable">
                    Widgets
                </div>
                <div onclick="showThemeOptions()" class="clickable">
                    Themes
                </div>
            </div>
            <div class="col-sm-10">
                <div class="contentWrapper">
                    <img id="themeImg" src='themes/<%=config.theme%>/<%= userTheme.img %>' alt="" style="position: absolute; top:0; right:0; z-index:-1; max-height:100%; max-width: 100%;">
                    <div id="content">
                        <!-- js inserted dynamic content -->
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h3 style="color: #11b8ff">Upload</h3>
                    <br>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <div class="row" style="display:block; border-bottom: 1px solid #11b8ff">

                        <form id="frmUploader" enctype="multipart/form-data" action="/upload" method="post" style="text-align:center">
                            <input type="file" name="imgUploader" multiple />
                            <!-- <input type="submit" name="submit" id="btnSubmit" value="Upload" /> -->
                        </form>
                        <button onclick="uploadImages()">Submit</button>
                    </div>

                    <div class="row" id="imgPreviewContent">
                        <% for(var i=0; i< data.length; i++){ %>
                            <div class="imgPreview">
                                <img src="images/<%= data[i] %>" id="<%= i %>" width="164" height="100" alt="img" onclick="select('images/<%= data[i] %>', this.id)"
                                />
                            </div>
                            <% } %>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer" style="text-align:right">
                    <button id="removeButton" class="btn btn-secondary hidden" onclick="removeSelectedImages()">Remove Selected</button>
                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <script>

        function uploadImages() {
            $('#frmUploader').submit(function (e) {
                console.log(e);
            });
        }


        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        });

        function showBackgroundOptions() {
            document.getElementById("content").innerHTML = "<h1 class='optionHeading'>Background Options</h1><br><p style=\"display: inline-block\">Transition time:&nbsp;</p><select id=\"timer\" onchange=\"setTimer()\"><option value=\"1\">1s</option><option value=\"2\">2s</option><option value=\"5\">5s</option><option value=\"10\">10s</option><option value=\"15\">15s</option><option value=\"20\">20s</option><option value=\"30\">30s</option><option value=\"60\">60s</option><option value=\"120\">2min</option><option value=\"300\">5min</option><option value=\"600\">10min</option><option value=\"1800\">30min</option></select><br><button type=\"button\" class=\"btn btn-primary\" data-toggle=\"modal\" data-target=\"#myModal\">My pictures / Upload pictures</button>";
        }

        function showSettingsOptions() {
            document.getElementById("content").innerHTML = "<h1 class='optionHeading'>Settings</h1><br>";
        }

        function showWidgetOptions() {
            document.getElementById("content").innerHTML = "<h1 class='optionHeading'>Widget Options</h1><br>";
        }

        function preview(name, theme){
            if($('#themeImg').attr('src') === 'themes/'+name+'/'+theme.img){
                //do nothing
                //doing if(false) does not function, so doing it this way with an empty if. at least it works
            } else {
                $('#themeImg').hide();
                $('#themeImg').attr('src', 'themes/'+name+'/'+theme.img);
                $('#themeImg').fadeIn(500);
            }

            //body
            $('body').css('color', theme.fontColor);
            $('.optionHeading').css('color', theme.fontColor);

            $leftMenu = $('#leftMenu');
            //leftMenu bg color
            $leftMenu.css('background-color', theme.secondaryColor);
            //leftMenu border-right
            $leftMenu.css('border-right', theme.accentColor);
            //leftMenu font
            $leftMenu.css('color', theme.fontColor);
        }

        function cancelPreview(name, theme){
            //name, theme of original user theme
            //name in config.theme, theme in userTheme json from ejs
            console.log(theme.img);

            if($('#themeImg').attr('src') === 'themes/'+name+'/'+theme.img){
                //do nothing
                //doing if(false) does not function, so doing it this way with an empty if. at least it works
            } else {
                $('#themeImg').hide();
                $('#themeImg').attr('src', 'themes/'+name+'/'+theme.img);
                $('#themeImg').fadeIn(500);
            }

            $('body').css('color', theme.fontColor);
            $('.optionHeading').css('color', theme.fontColor);

            $leftMenu = $('#leftMenu');
            //leftMenu bg color
            $leftMenu.css('background-color', theme.secondaryColor);
            //leftMenu border-right
            $leftMenu.css('border-right', theme.accentColor);
            //leftMenu font
            $leftMenu.css('color', theme.fontColor);
        }

        function showThemeOptions() {
            document.getElementById("content").innerHTML = "<h1 class='optionHeading' style='color: <%= userTheme.fontColor %>'>Themes</h1><%for(var i=0; i<themes.length; i++){%><div class='themeSelectionBlock container-fluid' style='background-image: url(themes/<%= themes[i].name %>/<%=themes[i].theme.img%>);color:<%= themes[i].theme.fontColor %>' onmouseenter='preview(<%= JSON.stringify(themes[i].name) %>,<%= JSON.stringify(themes[i].theme) %>)' onmouseleave='cancelPreview(<%= JSON.stringify(config.theme) %>,<%= JSON.stringify(userTheme) %>)'><div class='row'><div class='col-sm-12'><h1 class='themeName' style='color: <%= themes[i].theme.fontColor %>'><%= themes[i].name %></h1><% if(themes[i].name===config.theme){%><h1 class='themeName' style='color: <%= themes[i].theme.fontColor %>'>&emsp;(Set)</h1><%}%></div></div><div class='row'><div class='col-sm-2'><div class='themeColor'>Main Color:<br><div class='colorSquare' style='background-color:<%= themes[i].theme.mainColor %>'></div><span><%= themes[i].theme.mainColor %></span></div></div><div class='col-sm-2'><div class='themeColor'>Secondary Color:<br><div class='colorSquare' style='background-color:<%= themes[i].theme.secondaryColor %>'></div><span><%= themes[i].theme.secondaryColor %></span></div></div><div class='col-sm-2'><div class='themeColor'>Font Color:<br><div class='colorSquare' style='background-color:<%= themes[i].theme.fontColor %>'></div><span><%= themes[i].theme.fontColor %></span></div></div><div class='col-sm-2'><div class='themeColor'>Accent Color:<br><div class='colorSquare' style='background-color:<%= themes[i].theme.accentColor %>'></div><span><%= themes[i].theme.accentColor %></span></div></div><div class='col-sm-4'></div></div></div><%}%><br>";
        }
        
        $(document).ready(function () {
            showThemeOptions();
            var time = <%= config.timer %>;
            time = (time / 1000);
            document.getElementById("timer").value = time;
            setTheme();
        });


        function setTimer() {
            var e = document.getElementById("timer");
            var time = e.options[e.selectedIndex].value * 1000; //convert to ms
            var json = { "timer": time }
            $.ajax({
                url: '/timer',
                type: 'POST',
                data: json
            });
        }

        var selected = [];

        function select(src, id) {
            var element = $("#" + id);
            console.log(element);
            if ($.inArray(src, selected) === -1) {
                selected.push(src);
                element.addClass("imgSelected");
                if (selected.length > 0) {
                    $('#removeButton').removeClass("hidden");
                    $('#removeButton').addClass("shown");
                }
            } else {
                var index = selected.indexOf(src);
                selected.splice(index, 1)
                element.removeClass("imgSelected");
                if (selected.length <= 0) {
                    $('#removeButton').removeClass("shown");
                    $('#removeButton').addClass("hidden");
                }
            }
        }

        function removeSelectedImages() {
            $.ajax({
                url: '/remove',
                type: 'POST',
                data: { selected: selected },
                success: function (data) {
                    selected = [];
                    $("#imgPreviewContent").html(" ");
                    var html = "";
                    for (var i = 0; i < data.data.length; i++) {
                        html += "<div class=\"imgPreview\"><img src=\"images/" + data.data[i] + "\" id=\"" + i + "\" width=\"164\" height=\"100\" alt=\"img\" onclick=\"select('images/" + data.data[i] + "', this.id)\" /> <\/div>";
                    }
                    $("#imgPreviewContent").html(html)
                }
            });
        }

    </script>

</body>

</html>